{
	"plugins": [
		"transform-decorators-legacy",
		"transform-class-properties",
		["transform-object-rest-spread", { "useBuiltIns": true }],
		"transform-dead-code-elimination",
		"transform-node-env-inline",
		"lodash"
	]
}
