@import 'colors';
@import 'mixins';
@import 'fonts';
@import 'resets';
@import 'modules/VerticalGroup';
@import 'modules/TitleBlock';
@import 'modules/ButtonGroup';
@import 'modules/Button';

$Body-fadeDuration: 0.2s;

body {
	@include size(250px);
	margin: 0;

	transition: opacity $Body-fadeDuration;
	background: $bgColor 50% no-repeat;
	background-size: cover;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}
