@import '../colors';
@import '../mixins';

$Button-popDuration: 0.1s;

.Button {
	@include size(100%);
	transition: transform $Button-popDuration;
	border-radius: 50%;
	background-color: $highlightColor;
	color: $textColor;
	font-family: 'fa', sans-serif;
	text-align: center;
	text-shadow: $textColor 0 0 5px;
	cursor: pointer;

	&:hover:not(:active) {
		transform: scale(1.1);
	}

	&.isInactive {
		color: $bgColor;
		text-shadow: none;
	}

	&-prev::after {
		content: '\f048';
	}

	&-next::after {
		content: '\f051';
	}

	&-playPause::after {
		padding-left: 5%;
		content: '\f04b';

		.isPlaying & {
			padding-left: 0;
			content: '\f04c';
		}
	}

	&-custom::after {
		content: attr(data-icon);
	}
}
