@import '../colors';
@import '../mixins';

$Button-popDuration: 0.1s;

.Button {
	@include size(100%, 100%);
	cursor: pointer;
	border-radius: 50%;
	background-color: $highlightColor;
	color: $textColor;
	text-shadow: $textColor 0 0 5px;
	text-align: center;
	font-family: 'fa', sans-serif;
	transition: transform $Button-popDuration;

	&:hover:not(:active) {
		transform: scale(1.1);
	}

	&-prev::after {
		content: '\f048';
	}
	&-next::after {
		content: '\f051';
	}
	&-playPause::after {
		content: '\f04b';
		padding-left: 5%;

		body.isPlaying & {
			content: '\f04c';
			padding-left: 0;
		}
	}
}
