@import '../colors';

.TitleBlock {
	width: 100%;
	background-color: $highlightColor;
	color: $textColor;
	text-align: center;
	text-shadow: $bgColor 0 0 1px;

	&.isClickable {
		cursor: pointer;
		user-select: none;
	}

	&-title {
		padding: 0 5px;
		font-size: 15px;

		&--sub {
			font-size: 10px;
		}
	}
}
